<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>index</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bs4.pop.css">
    <link rel="stylesheet" href="/css/App.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bs4.pop.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
当前用户：
<span th:if="${#strings.isEmpty(user)}">未登录</span>
<span th:if="${!#strings.isEmpty(user)}"><span th:text="${user.username}"></span></span>
<div class="container">
    <ul id="homeTab" class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#products">商品</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#orders">订单</a>
        </li>
    </ul>
    <div id="homeTabContent" class="tab-content">
        <div class="container tab-pane active" id="products">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>库存</th>
                    <th>销量</th>
                    <th>单价</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product,indexInc:${products}" th:id="productLine+(${indexInc.index})">
                    <td th:text="${product.imageUrl}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.stock}"></td>
                    <td th:text="${product.sales}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#orderCreateModal"
                                th:id="create+(${indexInc.index})" th:data-userId="${user.id}"
                                th:data-productName="${product.productName}" th:data-productId="${product.id}"
                                onclick="modelFill(this.getAttribute('data-userId'), this.getAttribute('data-productId'), this.getAttribute('data-productName'))">购买</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container tab-pane fade" id="orders">
<!--            <button type="button" class="btn btn-primary" onclick="refreshOrders()">刷新</button>-->
            <table class="table table-hover" id="orderTable">
                <thead>
                <tr>
                    <th>订单ID</th>
                    <th>商品名称</th>
                    <th>商品单价</th>
                    <th>数量</th>
                    <th>订单总价</th>
                    <th>下单日期</th>
                    <th>订单状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="orderTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 容器模态框（Modal） -->
<div class="modal fade" id="orderCreateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">创建订单</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="orderCreateUserId" class="col-sm-3 control-label">用户ID</label>
                    <div class="col-sm-9">
                        <input readonly="readonly" type="text" class="form-control" id="orderCreateUserId" name="userId" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orderCreateProductId" class="col-sm-3 control-label">商品ID</label>
                    <div class="col-sm-9">
                        <input readonly="readonly" type="text" class="form-control" id="orderCreateProductId" name="productId" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orderCreateProductName" class="col-sm-3 control-label">商品名称</label>
                    <div class="col-sm-9">
                        <input readonly="readonly" type="text" class="form-control" id="orderCreateProductName" name="productName" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orderCreateAmount" class="col-sm-3 control-label">数量</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="orderCreateAmount" name="amount" value="1"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="orderCreate()">提交</button>
            </div>
        </div>
    </div><!-- /.modal -->
</div>

<script  th:inline="javascript">
    window.onload=function(){
        var userId = [[${user.id}]];
        refreshOrders(userId);
    };
</script>
</body>

</html>